@charset "ISO-8859-1";
* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100%;
}

header,
.head-style,
.accountContainer {
    height: 100px;
    width: 100%;
    box-shadow: 5px 5px 10px black;
    background-color: orchid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-style {
    width: 500px;
    box-shadow: none;
    justify-content: space-evenly;
}

.logos {
    height: 50px;
    filter: drop-shadow(2px 2px 2px black);
}

.heading {
    text-shadow: 2px 2px 2px black;
    /* text-transform: uppercase; */
    /* color: rgb(46, 223, 223); */
    color: white;

}

.accountContainer {
    width: 100px;
    box-shadow: none;
    justify-content: space-evenly;
    /*background-color: red;*/ 
    border-radius: 100%;
}
#settingsImg{
    height: 40px;
    filter: drop-shadow(2px 2px 2px black);
    transition: transform 2s, height 2s;
}


.accountContainer:hover #settingsImg{
	
	transform: rotateZ(180deg);
    height: 60px;
	
    /* height: 40px; */
    /* animation: rotateImage 3s 1;*/
    /* transition: all 5s; */
}

@keyframes rotateImage {
    0% {
        transform: rotateZ(0deg);
        height: 40px;
    }

    50% {
        transform: rotateZ(180deg);
        height: 60px;
    }
   
}


#dataListNames {
    height: 180px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 20px;
    top: 100px;
    display: none;

}
.accountContainer:hover #dataListNames{
    display: flex;
}


.buts {
    outline: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 25px;
}
.buts:hover{
    background-color: rgb(243, 146, 209);
}

a{
    text-decoration: none;
   	
}
